[submodule "extern/hpmcpp"]
	path = extern/hpmcpp
	url = https://github.com/voldien/hpmcpp
[submodule "extern/task-scheduler"]
	path = extern/task-scheduler
	url = https://github.com/voldien/task-scheduler
[submodule "extern/jhpm"]
	path = extern/jhpm
	url = https://github.com/voldien/jhpm
[submodule "extern/infoware"]
	path = extern/infoware
	url = https://github.com/ThePhD/infoware.git
[submodule "extern/vulkan-samples"]
	path = extern/vulkan-samples
	url = https://github.com/voldien/vulkan-samples
[submodule "extern/exceptcxx"]
	path = extern/exceptcxx
	url = https://github.com/voldien/execptcxx.git
